* {
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(174, 125, 219);
  font-family: sans-serif;
  font-weight: 1200;
}
